#imagine_meniu{
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #183D3D;
    position: relative;
    text-align: center;
    color: white;
}

#text_imagine{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#descriere{
    margin-top: 0;
    padding-top: 0;
    background-color: #183D3D;
    position: relative;
}

#citat{
    background-color: #183D3D;
    width: 85%;
    position: relative;
    display: block;
    font-size: xx-large;
    padding: 2% 7.5% 2% 7.5%;
    overflow: hidden;
    font-style: italic;
}

#text_descriere{
    position: relative;
    background-color: #93B1A6;
    font-size: x-large;
    padding: 5% 5% 5% 5%;
}

@media only screen and (min-width: 768px) {
    #imagine_meniu{
    height: 500px;
    object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    #text_imagine{
    font-size: 250%;
    }
}